// layout布局的样式
.layout{
        // border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
    .layout-logo{
        width: 100px;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        float: left;
        position: relative;
        top: 15px;
        left: 20px;
    }
    .layout-nav{
        width: 420px;
        margin: 0 auto;
        margin-right: 20px;
    }
    .layout-footer-center{
        text-align: center;
    }
  .dev-run-preview .dev-run-preview-edit{ display: none }



.ivu-row {
  height: 100%;
  color:#ffffff;
}

.ivu-menu-horizontal {
  line-height: 60px;
}

.ivu-menu-item {
  background: rgba(255, 255, 255, 0);
}

.avatar{
  display: inline-block;
  img{
    width: 60px;
  }
}


